<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MorseCom</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        #render {
            display: flex;
            font-size: 72px;
        }
        </style>
    </head>
    <body>
        <h1>MorseCom - How to Communicate?</h1>
        <p>Press Del to render SHORT morse code, press Shift to render LONG morse code. Space will be rendered if no key is pressed longer than 500ms</p>

        <p><em>Descrypted Morse Code</em></p>
        <strong><div id="render-decrypt"></div></strong>

        <p><em>Raw Morse Code</em></p>
        <div id="render"></div>

        <script src="index.js"></script>
    </body>
</html>
